<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/}" th:object="${searchQuery}" th:method="post">
    <label for="value">Enter search string:</label>
    <input type="text" class="form-control" id="value" th:field="*{value}"/>
    <input type="submit" value="Search"/>
</form>


<table border="1" th:if="${results != null}">
    <thead>
    <tr>
        <th colspan="3">Results:</th>
    </tr>
    <tr>
        <th>Date</th>
        <th>Title</th>
        <th>Author</th>
    </tr>
    </thead>
    <tbody>

    <tr th:if="${results != null and results.empty}">
        <td colspan="3">Search result is empty</td>
    </tr>

    <!--TODO add some hint about color-->
    <tr th:each="resultItem : ${results}" th:style="${resultItem.answered} ? 'background: #ffffff' : 'background: #eeeeee'">

        <td th:text="${resultItem.creationDate}"></td>
        <td><a th:href="${resultItem.link}" th:text="${resultItem.title}" target="_blank"></a></td>
        <td th:text="${resultItem.owner.name}"></td>
    </tr>



    </tbody>
</table>

</body>
</html>